.add_lists{
    width: 72%;
    margin: auto;
    margin-top: -480px;
    .add_lists_forms{
        display: flex;
        .add_lists_form{
            margin-left: 30px;
            margin-top: -10px;
            display: flex;
            flex-direction: column;
            padding: 15px 0;
            .label{
                color: red;
                font-size: 20px;
            }
            .file{
                padding: 10px;
            }
            .lists_text{
                width: 400px;
                height: 40px;
                font-size: 20px;
                margin-top: 10px;
            }
        }
    }

    .add_lists_button{
        height: 40px;
        width: 100px;
        position: absolute;
        margin-top: 300px;
        margin-left: 30px;
        cursor: pointer;
        background-color: cyan;
        border: cyan;
    }
}