.register{
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.08),
    rgba(0, 0, 0, 0.7)),
    url("https://assets.nflxext.com/ffe/siteui/vlv3/c8c8a0ad-86d6-45f1-b21d-821afa4e5027/394ec6ba-c9f1-43e7-81ce-27603aa0ab74/VN-en-20220801-popsignuptwoweeks-perspective_alpha_website_large.jpg");
    display: inline-block;
    .register_navbar{
        width: 90%;
        display: flex;
        justify-content: space-between;
        margin-left: 60px;
        position: absolute;
        margin-top: 20px;

        .register_logo{
            width: 200px;
        }

        .sign_in{
            background-color: red;
            color: white;
            border-radius: 5px;
            border: 5px solid red;
            width: 80px;
            font-size: 17px;
            cursor: pointer;
        }
    }

    .register_body{
        color: white;
        .register_desc{
            width: 50%;
            margin: auto;
            text-align: center;
            margin-top: 200px;
        }

        .register_email{
            width: 55%;
            margin: auto;
            .register_error{
                color: rgb(255, 39, 0);
            }
            .register_input{
                width: 75%;
                height: 65px;
                font-size: 25px;
                border: 3px solid #ccc;
                transition: 0.5s;
                outline: none;
                &:focus{
                    border: 3px solid red;
                }
            }
            .register_button{
                color: white;
                width: 23%;
                height: 76px;
                font-size: 25px;
                background-color: red;
                cursor: pointer;
                &:hover{
                    background-color: rgb(255, 39, 0);
                }
            }
        }
    }

    .register_container{
        background-color: hsla(0, 0%, 0%, 0.6);
        width: 35%;
        margin: auto;

        .register_form{
            display: flex;
            flex-direction: column;
            width: 90%;
            min-height: 500px;
            margin: auto;
            margin-top: 140px;
        }

        .register_input{
            min-height: 28px;
            font-size: 20px;
            border-radius: 10px;
            margin-bottom: 25px;
            background-color: hsla(0, 0%, 50%, 0.5);
            border: 3px solid gray;
            transition: 0.5s;
            outline: none;
            color: white;
            cursor: white;
            &:focus{
                border: 3px solid red;
            }
            &::placeholder{
                color: darkgray;
            }
        }

        .register_error{
            color: red;
            padding: 0;
            margin-top: -22px;
        }

        .register_button{
            min-height: 35px;
            font-size: 20px;
            color: white;
            background-color: red;
            cursor: pointer;
        }
    }
}
